body {
        background-color: lightgray;
}

.container-fluid {
        padding: 25px 50px 0 50px;
}

.navbar {
          /* height: 70px; */
          vertical-align: middle;
          background-color: white !important;
}

.navbar-brand {
        background-color: lightskyblue;
        color:blue !important;
        /* height: auto; */
        /*: 70px; */
        padding:  0 40px;
        font-size: 40px;
        text-align: center;
        vertical-align: middle;
}

.col-lg-12, .col-lg-10, .col-lg-6, .col-lg-4 .col-sm-12, .col-sm-6 {
        background-color: white !important;
}

.navbar .navbar-nav li a{
        color:blue !important;
}


.navbar-toggler {
        background-color: lightgray;
}


.navbar .navbar-collapse {
        background-color: white;
        border-width: 0;
}

col-lg-6, col-lg-12, col-med-12  {
        background-color: white !important;
        box-align: center;
}

@media only screen and (max-width: 1200px) {
        .navbar {
          background-color:lightskyblue !important;
        }
}

h2, h4 {
        color: blue !important;
        padding: 15px 0 15px 15px;

}

tr {
        line-height: 12px;
     }
